#activity_category_id {
  padding: 0 20px;
  border-radius: 8px;
}

#activity_start_time {
  height: 34px;
  border-radius: 8px;
}

.index-search-container {
  text-align: center;
}

.index-search-components {
  display: flex;
  justify-content: space-between;
}
