 <div class="footer-basic">
            <div class="social"><a href="https://www.instagram.com/lewagonmelbourne/?hl=en"><i class="icon ion-social-instagram"></i></a><a href="https://github.com/Shivika-S/ToGather"><i class="icon ion-social-github"></i></a><a href="https://twitter.com/LeWagonMEL?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class="icon ion-social-twitter"></i></a><a href="https://www.facebook.com/lewagonaustralia/"><i class="icon ion-social-facebook"></i></a></div>
            <p class="copyright">ToGather © 2021</p>
    </div>
