<div class="banner" style=">
  <div class="container">
    <h1>ToGather.</h1>
    <p>No idea what to do? No worries, we got you!</p>
  </div>
</div>

<!--
<div class="home-carousel">
  <h5> Search by mood: </h5>
  <div class="gallery js-flickity">
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
    <div class="gallery-cell"></div>
  </div>
</div>

<script src="/path/to/flickity.pkgd.min.js"></script>

 -->


