#activity-show-banner h1 {
  padding-top: 130px;
  color: white;
}

body.activities {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#show-background {
  background: $aqua;
}

#join-chat-btn {
  background-color: #183974;
  padding: 4px 20px;
  border-radius: 30px;
  transition: ease-in 0.5s;
  box-shadow: 2px 3px 5px #217796;
}

#join-chat-btn:hover {
  transform: scale(1.05);
  transition: ease-in 0.5s;
}

.activity-details {
  width: 492px;
  h1 {
    text-shadow: 2px 3px 5px #217796;
  }
  .activity-description {
    letter-spacing: 0.5px;
    text-shadow: 2px 3px 5px #217796;
  }
  .address-date {
    font-size: 0.8rem;
    font-style: italic;
    text-shadow: 2px 3px 5px #217796;
  }
}

// .bookmark-show-buttons {
//   border: none;
//   color: white;
//   padding: 15px 32px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   font-size: 16px;
//   transition-duration: 0.4s;
//   box-shadow: #217796;
//   padding: 4px 20px;
// }

.bookmark-show-buttons {
  border-radius: 4px;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  // padding: 10px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.bookmark-show-buttons:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.bookmark-show-buttons:hover {
  padding-right: 10px;
}

.bookmark-show-buttons:hover:after {
  opacity: 1;
  right: 0;
}




