#activity-show-banner h1 {
  padding-top: 130px;
  color: white;
}

body.activities {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#show-background {
  background: $aqua;
}

#join-chat-btn {
  background-color: #183974;
  padding: 4px 20px;
  border-radius: 30px;
  transition: ease-in 0.5s;
  box-shadow: 2px 3px 5px #217796;
}

#join-chat-btn:hover {
  transform: scale(1.05);
  transition: ease-in 0.5s;
}

.activity-details {
  width: 492px;
  h1 {
    text-shadow: 2px 3px 5px #217796;
  }
  .activity-description {
    letter-spacing: 0.5px;
    text-shadow: 2px 3px 5px #217796;
  }
  .address-date {
    font-size: 0.8rem;
    font-style: italic;
    text-shadow: 2px 3px 5px #217796;
  }
}




