#activity-show-banner h1 {
  padding-top: 130px;
  color: white;
}

body.activities {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#show-background {
  background: $aqua;
}

#join-chat-btn {
  background-color: #183974;
  padding: 5px 15px;
  border-radius: 10px;
}

#join-chat-btn:hover {
  sc
}




