.footer {
   background-color: white;
}
.footer-basic {
  padding-top: 10px;
  padding-bottom: 0px;
  flex-shrink: 0;
  color:#4b4c4d;
  height: 40px;
  display: block;
  margin-top: 0px;
}



.footer-basic .social {
  text-align:center;
  padding-bottom:5px;
}

.footer-basic p {
  background: white;
}

.footer-basic .social > a {
  font-size:20px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
}

.footer-basic .social > a:hover {
  opacity:0.9;
}

.footer-basic .copyright {
  margin-top: 1px;
  text-align:center;
  font-size: 12px;
  color:#aaa;
  margin-bottom: 5px;
}
