.form-container {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10px;
}

.form-inputs {
  border-radius: 3px;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  transition: border-color 0.3s;
  background-position: center;
  color: gray;
}

.form-actions {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.simple_form {
  color: gray;
}

.form-control {
border-radius: 20px;
background: #white;
}

