.form-group {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.home-init-button {
  padding: 12px 36px;
  border-radius: 15% / 50%;
  border: none;
  background-color: #FCCE3A;
}

.form-check-input {
  opacity: 0;
}

.col-form-label {
  opacity: 0;
}

.form-check-label {
  height: 30vh;
  width: 20vw;
  margin-bottom: 30px !important;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: white;
  font-weight: bolder;
  text-shadow: 0 0 10px rgba(0,0,0,0.7);
  transition: transform 0.6s, box-shadow 0.6s;
  -webkit-backface-visibility: hidden;
  &:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    // -webkit-transform: translateY(-10px);
    // transform: translateY(-10px);

    // -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.23), 0 15px 40px rgba(166,173,201,.2);
    // box-shadow: 0 10px 10px rgba(0,0,0,0.23), 0 15px 40px rgba(166,173,201,.2);
  }
}

label[for="activity_category_sweat"] {
  background-image: url('sweat.jpg');
  background-size: cover;
}
label[for="activity_category_romance"] {
  // background: rgb(255,27,45);
  // background: radial-gradient(circle, rgba(255,27,45,1) 0%, rgba(0,0,0,0) 100%);
  background-image: url('romance.jpg');
  background-size: cover;
}
label[for="activity_category_outdoorsy"] {
  // background: rgb(60,157,0);
  // background: radial-gradient(circle, rgba(60,157,0,1) 0%, rgba(0,0,0,0) 100%);
  background-image: url('outdoorsy.jpg');
  background-size: cover;
}
label[for="activity_category_low-fi"] {
  // background: rgb(255,174,27);
  // background: radial-gradient(circle, rgba(255,174,27,1) 0%, rgba(0,0,0,0) 100%);
  background-image: url('lowfi.jpg');
  background-size: cover;
}
label[for="activity_category_turnt"] {
  // background: rgb(105,27,255);
  // background: radial-gradient(circle, rgba(105,27,255,1) 0%, rgba(0,0,0,0) 100%);
  background-image: url('turnt.jpg');
  background-size: cover;
}
label[for="activity_category_broke-ass"] {
  // background: rgb(27,60,255);
  // background: radial-gradient(circle, rgba(27,60,255,1) 0%, rgba(0,0,0,0) 100%);
  background-image: url('brokeass.jpg');
  background-size: cover;
}

.question-category-container {
  width: 80vw;
  padding: 5px 35px;
  // margin-left: 20vw;
  #banner-question-category-header {
    color: #FCCE3A;
    text-align: center;
  }
}

.banner-question-category {
  height: 100vh;
  // background: rgb(2,0,36);
  // background: linear-gradient(90deg, rgba(2,0,36,1) 34%, rgba(24,57,116,0.9962359943977591) 73%, rgba(43,17,118,1) 100%);
}

.banner-question-date {
  height: 100vh;
  position: relative;
  #banner-question-date-header {
    margin-bottom: 3vh;
    color: #FCCE3A;
  }
}

.tree-image {
  background-image: url('https://purepng.com/public/uploads/large/purepng.com-treetreewoodleavesbranches-1411527265649ba3uk.png');
  background-size: cover;
  height: 50vh;
  width: 35vh;
  position: absolute;
  bottom: -400px;
  left: 50px;
  transition: 1s;
  transition-timing-function: ease-in-out;
}

.sun-image {
  background-image: url('http://pngimg.com/uploads/sun/sun_PNG13415.png');
  background-size: contain;
  height: 30vh;
  width: 20vw;
  position: absolute;
  top: 0;
  right: 0;
  transition: 60s;
  background-repeat: no-repeat;
  display: none;
}

#form-search-button {
  color: #495057;
  background-color: #FCCE3A;
  border: none;
  padding: 5px 20px;
  border-radius: 8px;
}

.date-buttons {
  text-align: center;
  position: relative;
}

.activity_start_time > div {
  width: 30vw;
  flex-direction: column-reverse !important;
  select {
    border-radius: 8px;
    margin-bottom: 5vh;
    text-align: center;
    background-color: #FCCE3A;
    border: none;
  }
}

.control-label {
  background-color: blue !important;
}


#autotype-day {
  position: absolute;
  top: 0;
  right: -140px;
  color: #FCCE3A;
  transform: rotate(-22deg);
  font-size: 22px;
}

#autotype-month {
  position: absolute;
  top: 60px;
  left: -175px;
  color: #FCCE3A;
  transform: rotate(-22deg);
  font-size: 22px;
}

#autotype-year {
  position: absolute;
  top: 155px;
  right: -145px;
  color: #FCCE3A;
  transform: rotate(-22deg);
  font-size: 22px;
}

#arrow-day-date {
  position: absolute;
  background-size: contain;
  top: -10px;
  right: -100px;
  width: 100px;
  height: 100px;
  transform: rotate(40deg);
  display: none;
}

#arrow-day-month {
  position: absolute;
  background-size: contain;
  top: 35px;
  left: -100px;
  width: 100px;
  height: 100px;
  transform: rotate(220deg);
  display: none;
}

#arrow-day-year {
  position: absolute;
  background-size: contain;
  top: 150px;
  right: -100px;
  width: 100px;
  height: 100px;
  transform: rotate(40deg);
  display: none;
}

.banner-call {
  position: absolute;
  top: 27vh;
  width: 100vw;
  text-align: center;
}

.form-container {
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 10px;
}

.form-inputs {
  border-radius: 3px;
  appearance: none;
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
  transition: border-color 0.3s;
  background-position: center;
  color: gray;
}

.form-actions {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.simple_form {
  color: gray;
}

.form-control {
border-radius: 20px;
background: #white;
}

.signup_button {
  background: #183974;
  border-radius: 20px;
  color: white;
  padding: 5px;
  width: 100%;
  position: left;
}

.forgot_button {
  background: #183974;
  border-radius: 20px;
  color: white;
  padding: 5px;
  width: 100%;
  position: right;
}

#sign_in_body {
  height: 100vh;
  background: white;
  color: #041f4e;
}

