.form-group {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-check-input {
  // opacity: 0;
}

.form-check-label {
  width: 26vw;
  border: 1px solid blue;
  margin-bottom: 20px;
  text-align: center;
}
