.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.weatherwidget-io {
  text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

.map-wrapper {
  position: relative;
  #map {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  
  .map-info a {
    position: absolute;
    bottom: 32px;
    left: 85px;
    background-color: rgba($color: white, $alpha: 0.5);
    padding: 0px 20px;
    border-radius: 20px;
    color: white;
    font-size: 1.3em;
    text-shadow: 0.5px 0.5px 1px black;
    transition: ease-in-out 0.5s;
    opacity: 0.8;
  }

  .map-info a:hover {
    text-decoration: none;
    transition: ease-in-out 0.5s;
    background-color: rgba($color: white, $alpha: 0.8);
    opacity: 1;
  }
}

