.navbar {
  height: 55px;
  font-size: 12px;
  justify-content: space-between;
  position: absolute;
}

.navbar-logo .navbar-brand img {
  width: 90px;
}

#navbarSupportedContent .collapse.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}
