#main-navbar {
  display: flex;
  justify-content: space-between;
}

.navbar {
  height: 55px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  .navbar-dice img {
    width: 40px;
    height: 40px;
  }
}

.navbar-logo .navbar-brand img {
  width: 90px;
}

#navbarSupportedContent {
  display: flex;
  justify-content: flex-end;
}

.middle-nav {
  display: flex;
  justify-content: center;
}
