#main-navbar {
  display: flex;
  justify-content: space-between;
  background-color: white;
  transition: 0.5s background-color ease;
  z-index: 1000;
  width: 100%;
}

.navbar {
  height: 55px;
  font-size: 12px;
  display: flex;
  background-color: white;
  // justify-content: space-between;
  // .navbar-dice img {
  //   width: 40px;
  //   height: 40px;
  // }
}

.nav-link {
   color: gray !important;
}

.navbar-logo .navbar-brand img {
  width: 90px;
}

#navbarSupportedContent {
  display: flex;
  justify-content: flex-end;
}

// .middle-nav {
//   display: flex;
//   justify-content: center;
// }
