// img {
//   height: 400px;
//   width: 800px;
//   object-fit: cover;
// }

// .carousel {
//   display: flex;
//   justify-content: center;
//   height: 400px;
//   width: 800px;
// }
.modal {
  margin-top: 88px;
}

.show-image {
  height: 95vh;
  width: 100%;
  object-fit: cover;
}

.carousel {
  position: relative;
  display: flex;
  justify-content: center;
  height: 95vh;
  width: 100%;
}

#show-title {
  text-align: center;
  position: absolute;
  top: 120px;
  z-index: 1000;
}


.carousel-pic {
  height: 400px;
  width: 100%;
  border: none;
  border-radius: 8px;
  object-fit: cover;
}

#body-of-modal {
  height: 400px;
  padding: 0;
  position: relative;
}

#carouselExampleIndicators {
  height: 400px;
}

#carousel-show-link {
  position: absolute;
  bottom: 65px;
  z-index: 50;
  padding: 8px 30px;
  border-radius: 15% / 50%;
  background-color: rgba(138, 138, 138,0.4);
  border: none;
  transition: 0.3s;
  &:hover {
    background-color: rgba(138, 138, 138,0.6);
  }
}
