  .sign_in_photo {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), image-url('collage.png');
  height: 100vh;
  }

  .sign_in_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 100vh;
  }

  .sign_in_form-container {
    margin-right: 60px;
    margin-left: 60px;
    padding-top: 80px;
  }

#login_button {
  background: orange;
  border-radius: 20px;
  width: 100%;
  border-radius: 20px;

}
.signup_button {
  background: #183974;
  border-radius: 20px;
  color: white;
  padding: 10px 4rem;
  width: 100%;
  position: left;
  border-radius: 20px;
}

.forgot_button {
  background: #183974;
  border-radius: 20px;
  color: white;
  padding: 10px 20px;
  width: 100%;
  position: right;
}

#sign_in_body {
  height: 100vh;
  background: white;
  color: #041f4e;
}

.sign_in_button_grid {
  display: flex;
  justify-content: space-between;

}
