// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "social-share-button";

// Your CSS partials
@import "components/index";
@import "components/footer";
@import "components/form";
@import "pages/index";

.container {
  margin-top: 20px;
}

#footer-stuff {
  display: flex;
  justify-content: center;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

// .footer-basic {
//   // position: absolute;
//   // bottom: 0;
//   width: 100%;
//   padding-top: 10px;
//   padding-bottom: 0px;
//   flex-shrink: 0;
//   // background-color:#ffffff;
//   color:#4b4c4d;
//   height: 40px;
//   display: block;
//   // margin-top: 0px;
// }

