<!-- <h1 class="mt-3">Categories</h1> -->
<!-- <h2> Pick a mood</h2>
<% @categories.each do |category| %>
<%= link_to category.name, new_category_activity_path(category), class: "btn btn-primary" %>
<% end %>

 -->
