<div class="container">
  <h1>Activities index</h1>
  <p>Congrats! You made it this far!</p>
  <p>This is where you'll show all the events corresponding to what you filled out in the form :D</p>
</div>
