<div class="container">
  <h1>Choose your preferences</h1>

<%= simple_form_for [ @activity ] do |f| %>
    <%= f.input :start_time %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>
</div>
