<div class="container">
  <h1>Choose your preferences</h1>

  <%= simple_form_for [ @category, @activity ] do |f| %>
    <%= f.input :start_time %>
    <%= f.input :address %>
    <%= f.submit "Confirm Booking", class: "btn btn-success" %>
  <% end %>
</div>
