<header>
  <section>
    <% if @activity.cover_photo.attached? %>
          <div class="carousel-item active">
            <img class="index-carousel-pic" id="hero" src=<%= cl_image_path(@activity.cover_photo.key,
              height: 200) %> alt="#">
              <h1 class="headline"><%= @activity.name %></h1>
          </div>
        <% end %>
  </section>
</header>

<div class="slider"></div>